In [1]:
import json
import pandas as pd

In [2]:
# load train json
with open('qald_9_plus_train_dbpedia.json') as f:
    train_data = json.load(f)

# load test json
with open('qald_9_plus_test_dbpedia.json') as f:
    test_data = json.load(f)

In [3]:
# Fumktion, die aus dem JSON-File ein Pandas-Dataframe erstellt
def json2pd(data):
    question_list = []
    for q in data['questions']:
        for item in q['question']:
            question_list.append({'ID': q['id'], 'Language': item['language'], 'Question': item['string']})
    # DataFrame erstellen
    df = pd.DataFrame(question_list)
    return df

In [4]:
train = json2pd(train_data)
test = json2pd(test_data)

In [5]:
# only take de questions
train = train[train['Language'] == 'en']
test = test[test['Language'] == 'en']

In [6]:
print(train.shape)
print(test.shape)

(408, 3)
(150, 3)


> stimmt mit QLAD-Doku überein

> enthält allerdings noch Duplikate

In [7]:
# drop duplicates
train = train.drop_duplicates(subset=['ID'])
test = test.drop_duplicates(subset=['ID'])

print(train.shape)
print(test.shape)

(408, 3)
(150, 3)

> stimmt jetzt mit dem originalen QALD-Datensatz überein

In [8]:
# change ID to int
train['ID'] = train['ID'].astype(int)
test['ID'] = test['ID'].astype(int)

In [15]:
# add column with set
train['Set'] = 'train'
test['Set'] = 'test'

In [16]:
# merge train and test
df = pd.concat([train, test], ignore_index=True)
df

      ID Language                                           Question    Set
0      1       en                        List all boardgames by GMT.  train
1      2       en                               Who developed Skype?  train
2      3       en               Which people were born in Heraklion?  train
3      4       en            In which U.S. state is Area 51 located?  train
4      5       en                 Who is the mayor of New York City?  train
..   ...      ...                                                ...    ...
553   14       en  Show me hiking trails in the Grand Canyon wher...   test
554   87       en                     Which book has the most pages?   test
555  148       en    What is the largest state in the United States?   test
556   43       en  Give me the websites of companies with more th...   test
557  179       en  What were the names of the three ships by Colu...   test

[558 rows x 4 columns]

In [17]:
# rename columns
df = df.rename(columns={'Question': 'Frage_original_EN'})

In [19]:
df.drop(columns=['Language', 'Set'], inplace=True)

In [20]:
df

      ID                                  Frage_original_EN
0      1                        List all boardgames by GMT.
1      2                               Who developed Skype?
2      3               Which people were born in Heraklion?
3      4            In which U.S. state is Area 51 located?
4      5                 Who is the mayor of New York City?
..   ...                                                ...
553   14  Show me hiking trails in the Grand Canyon wher...
554   87                     Which book has the most pages?
555  148    What is the largest state in the United States?
556   43  Give me the websites of companies with more th...
557  179  What were the names of the three ships by Colu...

[558 rows x 2 columns]

In [22]:
df['internal ID'] = df.index

In [23]:
df

      ID                                  Frage_original_EN  internal ID
0      1                        List all boardgames by GMT.            0
1      2                               Who developed Skype?            1
2      3               Which people were born in Heraklion?            2
3      4            In which U.S. state is Area 51 located?            3
4      5                 Who is the mayor of New York City?            4
..   ...                                                ...          ...
553   14  Show me hiking trails in the Grand Canyon wher...          553
554   87                     Which book has the most pages?          554
555  148    What is the largest state in the United States?          555
556   43  Give me the websites of companies with more th...          556
557  179  What were the names of the three ships by Colu...          557

[558 rows x 3 columns]

In [21]:
# save to csv
df.to_csv('qald_9_plus_dbpedia_EN.csv', index=False, sep=';')